@import './variables.scss';

html,
body,
#app,
.app {
    height: 100%;
}

.f-bold {
    font-weight: bold;
}

.f-base {
    font-size: $fbase;
}

.f-big {
    font-size: $fbig;
}

.f-small {
    font-size: $fsmall;
}

.ml24 {
    margin-left: 24px;
}

.mt24 {
    margin-top: 24px;
}

// 滚动条样式
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;

}

::-webkit-scrollbar-track {
    border-radius: 0px;
}

/*去除a标签下划线*/
a {
    text-decoration: none;
}

/*去除未被访问的a标签的下划线*/
a:link {
    text-decoration: none;
}

/*去除已经被访问过的a标签的下划线*/
a:visited {
    text-decoration: none;
}

/*去除鼠标悬停时的a标签的下划线*/
a:hover {
    text-decoration: none;
}

/*去除正在点击的a标签的下划线（鼠标按下，尚未松开）*/
a:active {
    text-decoration: none;
}

/*去除获得焦点的a标签的下划线（被鼠标点击过）*/
a:focus {
    text-decoration: none;
}


// =========================> 页面基本样式
.page-box {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        flex: 1;
        overflow-y: auto;
    }

}